<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Motocicletas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Motocicletas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
  
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/suzuki-logo2.jpg" alt="logo"/>
    </ion-avatar>
    <ion-label>
      <h3>Suzuki Canarias S.A.</h3>
      <p>C/La habana, 25 Pol Industrial Las Huesas</p>
    </ion-label>

    <ion-icon slot="end" name="information-circle"></ion-icon>

  </ion-item>

    <img src="../../assets/suzuki_gladius_650_01.jpg"/>

    <ion-card-header>
      <ion-card-title>Susuki Gladius</ion-card-title>
      <ion-card-subtitle>V2 650cc</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Desde su nacimiento en 2009, la Gladius entró en el mercado como un modelo  rompedor, diferente al resto. 
      Manteniendo el equilibrio característico de las naked, su diseño moderno le ha supuesto un elevado número de seguidores incondicionales.
    </ion-card-content>

    <ion-footer>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5K Likes</div>
          </ion-col>
          <ion-col>
            <ion-icon name="text"></ion-icon>
            <div class="wrap-text">4 Comentarios</div>
          </ion-col>
          <ion-col>
            <ion-icon name="time"></ion-icon>
            <div>Hace 11h</div>
          </ion-col>          
        </ion-row>
      </ion-grid>
    </ion-footer>



  </ion-card>
</ion-content>
